@model IEnumerable<Tesis.Comun.Modelo.LugarHistorico>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.categoriafk.nombreCat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.foto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombreLugarH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcionLugarH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.calle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefonoLugarH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.latitudLugarH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.longitudLugarH)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.categoriafk.nombreCat)
        </td>
        <td>
            @if (!string.IsNullOrEmpty(item.foto))
            {
                <img src="@Url.Content(item.foto)" alt="Image" style="width:100px;height:150px;max-width:100%;height:auto;" />
            }
          
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombreLugarH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcionLugarH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.calle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefonoLugarH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.latitudLugarH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.longitudLugarH)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idLugarHistorico }) |
            @Html.ActionLink("Details", "Details", new { id=item.idLugarHistorico }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idLugarHistorico })
        </td>
    </tr>
}

</table>
